<?xml version="1.0" encoding="utf-8"?>

<!--
   tcai Browser for Android
  
   Copyright (C) 2012 - to infinity and beyond J. Devauchelle and contributors.
 
   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License
   version 3 as published by the Free Software Foundation.
 
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tcai"
    android:installLocation="auto"    
    android:versionCode="11"
    android:versionName="1.8">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
    
    <permission android:name="org.tcai.permissions.bookmarksprovider.READ"
        android:label="@string/PermissionReadBookmarksLabel"
        android:description="@string/PermissionReadBookmarksDescription"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" />
    
    <permission android:name="org.tcai.permissions.bookmarksprovider.WRITE"
        android:label="@string/PermissionWriteBookmarksLabel"
        android:description="@string/PermissionWriteBookmarksDescription"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" />
    
    <permission android:name="org.tcai.permissions.services.ADDONS"
        android:label="@string/PermissionBindAddonServiceLabel"
        android:description="@string/PermissionBindAddonServiceDescription"
        android:protectionLevel="dangerous" />
    
    <uses-permission android:name="org.tcai.permissions.services.ADDONS" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 百度统计必须申明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/ApplicationName"
        android:theme="@style/ApplicationTheme"
        android:allowBackup="true" 
        android:hardwareAccelerated="true">
        
        <!-- 您从百度网站获取的APP KEY -->
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="11e468fcc1" /> 
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="baidu Market" />

        <activity
            android:label="@string/ApplicationName"
            android:name="org.tcai.ui.activities.TcaiBrowserActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
        </activity>

        <activity android:name="org.tcai.ui.preferences.PreferencesActivity" android:label="@string/PreferencesActivityTitle"></activity>
        <activity android:name="org.tcai.ui.activities.BookmarksActivity"></activity>
        <activity android:name="org.tcai.ui.activities.EditBookmarkActivity" android:theme="@android:style/Theme.Holo.DialogWhenLarge"></activity>
        
        <provider
            android:name="org.tcai.providers.BookmarksProvider"
            android:authorities="org.tcai.providers.bookmarksprovider"
            android:exported="true"
            android:readPermission="org.tcai.permissions.bookmarksprovider.READ"
            android:writePermission="org.tcai.permissions.bookmarksprovider.WRITE" />
        
        <provider
            android:name="org.tcai.providers.SslExceptionsProvider"
            android:authorities="org.tcai.providers.sslexceptionsprovider"
            android:exported="false" />
        
    </application>

</manifest>